<?xml version="1.0" encoding="UTF-8"?>
<!-- xml is used for mapping. java uses annotations in place of xml. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webServlet</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet.java</welcome-file>
    <welcome-file>DisplayCount.java</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>initialCount</param-name>
    <param-value>0</param-value>
  </context-param>
  <servlet>
    <servlet-name>sagarika</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sagarika</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigDemo</display-name>
    <servlet-name>ConfigDemo</servlet-name>
    <servlet-class>ConfigDemo</servlet-class>
    <init-param>
      <description></description>
      <param-name>adminEmail</param-name>
      <param-value>admin@lti.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigDemo</servlet-name>
    <url-pattern>/Configuration%10ddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCount</display-name>
    <servlet-name>DisplayCount</servlet-name>
    <servlet-class>DisplayCount</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCount</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>HomeServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
</web-app>